body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin:30px;
}

.btn-publish{
    float:right;
    margin-bottom: 15px;
}
ul{
    list-style: none;
}
ul li{
    display: inline;
}